* {
  box-sizing: border-box;
  margin: 0;
}

html {
	height: 100%;
}
body {
	height: 100%;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	background: rgba(241,231,103,1);
	background: -webkit-linear-gradient(rgba(241,231,103,1), rgba(254,182,69,1) ); 
    background: -o-linear-gradient(rgba(241,231,103,1), rgba(254,182,69,1) ); 
    background: -moz-linear-gradient(rgba(241,231,103,1), rgba(254,182,69,1) ); 
    background: linear-gradient(rgba(241,231,103,1), rgba(254,182,69,1) ); 
}

h1 {
	margin-top: 50px;
	margin-bottom: 40px;
	font-size: 35px;
}

p {
	margin: 25px;
	font-size: 18px;
}